body{
  background-color: lightblue;
}

.calculator-top{
  background-color: black;
  height: 50px;
  border-radius: 10px 10px 0 0;
}
.container{
  border-radius: 5px;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  width: 480px;
  margin: 3rem auto;
  /* transform: translate(-50%); */
}

/* .calculator{
  width: 93.8%;
  font-family: verdana;
  font-size: 1.5rem;
  opacity: 0.4;
  height: 120px;
  border: none;
  background-color: #A9A9A9;
  color: #000;
  padding-right: 20px;
  padding-left: 10px;
} */

.result{
  height: 100px;
  background-color: #A9A9A9;
  border-radius: 4px;
}

.history{
  text-align: right;
  font-size: 15px;
  position: relative;
  height: 20px;
  padding-top: 10px;
  margin-right: 20px;
  font-family: verdana;
}

.output{
  text-align: right;
  font-size: 30px;
  position: relative;
  margin-right: 20px;
  font-family: verdana;
}

button {
  height: 60px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  font-size: 2rem;
}

button:hover {
  background-color: gray;
}

.operators {
  color: #6495ED;
}

.equal-sign {
  background-color: orange;
  border-color: orange;
  color: #fff;
  height: 100%;
  grid-row: 4/6;
  grid-column: 4/5;  /* grid area = 4/4/6
  /5*/
}

.equal-sign:hover {
  background-color: darkorange;
}

.clear-all{
  background-color: #B22222;
  color: #FFF;
}

.clear-all:hover{
  background-color: #DC143C;
}

.clear{
  /* background-color: #A9A9A9; */
  color: blue;
  font-size: 40px;
}


.calculator-buttons{
  border-radius: 0 0 10px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;    /* for both column and row gap */
  padding: 20px;
  background-color: black;
}
